asgiref==3.5.2
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.1
dj-rest-auth==3.0.0
Django==4.1.2
django-cors-headers==3.11.0
django-environ==0.4.5
django-filter==2.4.0
django-leaflet==0.28.0
djangorestframework==3.13.1
djangorestframework-gis==0.18
dms2dec==0.1
drf-yasg==1.21.4
et-xmlfile==1.1.0
gunicorn==20.1.0
idna==3.3
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.22.2
openpyxl==3.0.9
packaging==21.3
pandas==1.4.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2021.1
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
six==1.16.0
sqlparse==0.4.1
uritemplate==4.1.1
urllib3==1.26.9
uuid==1.30
whitenoise==6.0.0
