dj-rest-auth==7.1.1
Django==5.2
django-allauth==65.14.3
django-cors-headers==4.9.0
django-environ==0.12.0
django-filter==25.2
django-leaflet==0.33.0
djangorestframework==3.16.1
djangorestframework-gis==1.2.0
dms2dec==0.1
drf-yasg==1.21.14
gunicorn==20.1.0
oauthlib==3.2.2
openpyxl==3.0.9
pandas==2.3.3
psycopg2==2.9.11
psycopg2-binary==2.9.11
PyJWT==2.6.0
python3-openid==3.2.0
requests==2.27.1
uuid==1.30
whitenoise==6.11.0
