{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link rel="icon" href="{% static 'images/webicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/tailwind-compiled.css' %}"/>
    <link rel="stylesheet" href="{% static 'mapaider/css/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/qgis2web.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'mapaider/css/MarkerCluster.css' %}"/>
    <link rel="stylesheet" href="{% static 'mapaider/css/MarkerCluster.Default.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/leaflet-control-geocoder.Geocoder.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css"/>

    <style>
        html,
        body,
        #map {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .leaflet-marker-icon {
            max-width: none;
        }


        .area-tooltip {
            background: #363636;
            background: rgba(0, 0, 0, 0.5);
            border: none;
            color: #f8d5e4;
        }

        .leaflet-control-container .info h2 {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .mapaider-feature-tooltip {
            background-color: white;
        }

        @media (hover: none) {
            .mapaider-feature-tooltip {
                display: none;
            }
        }
    </style>

    <title>MapAider - Map Viewer</title>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="map"></div>

<script src="{% static 'js/qgis2web_expressions.js' %}"></script>
<script src="{% static 'mapaider/js/leaflet.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
<script src="{% static 'js/leaflet.rotatedMarker.js' %}"></script>
<script src="{% static 'js/leaflet-hash.js' %}"></script>
<script src="{% static 'mapaider/js/autolinker.min.js' %}"></script>
<script src="{% static 'js/rbush.min.js' %}"></script>
<script src="{% static 'js/labelgun.min.js' %}"></script>
<script src="{% static 'js/labels.js' %}"></script>
<script src="{% static 'js/leaflet-control-geocoder.Geocoder.js' %}"></script>
<script src="{% static 'mapaider/js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'mapaider/js/mapaider.js' %}"></script>

<script>
    var map = L.map("map", {
        zoomControl: true,
        maxZoom: 28,
        minZoom: 2,
    }).fitBounds([
        [51.23908874836559, -100.7748474896206704],
        [53.14254326217286, 122.162353031732282],
    ])

    var hash = new L.Hash(map)

    map.attributionControl.setPrefix(
        'Mapaider &middot; Powered by <a href="https://www.globalmapaid.org" target="_blank">MapAid</a>'
    )

    var autolinker = new Autolinker({
        truncate: {length: 30, location: "smart"},
    })

    var bounds_group = new L.featureGroup([])


    //map.getPane("pane_SatelliteMap").style.zIndex = 200;
    {% comment %}    var layer_SatelliteMap = L.tileLayer("https://mt1.google.com/vt/lyrs=s&x={x}&y={y}&z={z}", {
            attribution: "",
            pane: "pane_SatelliteMap",
            opacity: 1,
            minZoom: 1,
            maxZoom: 28,
            minNativeZoom: 0,
            maxNativeZoom: 18,
        }).addTo(map){% endcomment %}


    L.ImageOverlay.include({
        getBounds: function () {
            return this._bounds
        },
    })

    function featurePopup(mapLayer) {
        return function (feature, layer) {
            let fieldSet = mapLayer.layer['field_set']

            let popupContent = `
                <table>
                    <tr>
                        <th scope="row" class="pr-4 whitespace-nowrap">Name </th>
                        <td>${feature.properties.name}</td>
                    </tr>`

            fieldSet.forEach(f => {
                if (feature.properties.feature_data[f.field] != null) {
                    let fieldTitle = f.title
                    let fieldValue = ''

                    if (f.type === 'url') {
                        fieldValue = `<a href="${feature.properties.feature_data[f.field]}" target="_blank">Click here</a>`
                    } else {
                        fieldValue = feature.properties.feature_data[f.field]
                    }

                    popupContent += `<tr><th scope="row" class="pr-4 whitespace-nowrap">${fieldTitle}</th><td>${fieldValue}</td></tr>`
                }
            })

            popupContent += `</table>`

            layer.bindPopup(popupContent, {maxHeight: 400})
        }
    }

    function getLayerStyle(layer) {
        const default_icon = L.icon({
            iconUrl: "/statix/markers/default-marker.svg",
            iconSize: [24, 24],
        })

        const layer_icons = {
            "14fa7d82-e64e-4624-924e-bca094c4b354": L.icon({
                iconUrl: "/statix/markers/ukraine-flag.svg",
                iconSize: [32, 32],
            }),
            "099786ba-1c5b-48d2-9734-181c7749c09d": L.icon({
                iconUrl: "/statix/markers/russia-flag-circle.svg",
                iconSize: [24, 24],
            }),
            "2b69cb6a-0716-4fcb-a943-063f54dcbb39": L.icon({
                iconUrl: "/statix/markers/boat.svg",
                iconSize: [24, 24],
            })
        }

        const icon = layer_icons[layer] || default_icon

        return {
            pane: "pane_" + layer,
            rotationAngle: 0.0,
            rotationOrigin: "center center",
            icon: icon,
            interactive: true,
        }
    }

    const buildMap = (mapData) => {
        // Base Maps
        let baseMaps = {}
        map.createPane("pane_SatelliteMap")
        var layer_SatelliteMap = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            pane: "pane_SatelliteMap",
            opacity: 1,
            minZoom: 1,
            maxZoom: 28,
            minNativeZoom: 0,
            maxNativeZoom: 18,
        }).addTo(map);
        map.addLayer(layer_SatelliteMap);
        baseMaps['Base Map'] = layer_SatelliteMap

        if (mapData.name !== 'River of Flowers') {
            map.createPane("pane_StreetMap")
            //map.getPane("pane_StreetMap").style.zIndex = 201;
            var layer_StreetMap = L.tileLayer(
                "https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i{z}!2i{x}!3i{y}!4i256!2m3!1e0!2sm!3i512225992!3m17!2sen!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmap!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjV8cC5oOiNGRkJCMDB8cC5zOjQzLjQwMDAwMDAwMDAwMDAwNnxwLmw6MzcuNTk5OTk5OTk5OTk5OTk0fHAuZzoxLHMudDo0OXxwLmg6I0ZGQzIwMHxwLnM6LTYxLjh8cC5sOjQ1LjU5OTk5OTk5OTk5OTk5NHxwLmc6MSxzLnQ6NTB8cC5oOiNGRjAzMDB8cC5zOi0xMDB8cC5sOjUxLjE5OTk5OTk5OTk5OTk5fHAuZzoxLHMudDo1MXxwLmg6I0ZGMDMwMHxwLnM6LTEwMHxwLmw6NTJ8cC5nOjEscy50OjZ8cC5oOiMwMDc4RkZ8cC5zOi0xMy4yMDAwMDAwMDAwMDAwMDN8cC5sOjIuNDAwMDAwMDAwMDAwMDA1N3xwLmc6MSxzLnQ6MnxwLmg6IzAwRkY2QXxwLnM6LTEuMDk4OTAxMDk4OTAxMTIzNHxwLmw6MTEuMjAwMDAwMDAwMDAwMDE3fHAuZzox!4e0&key=AIzaSyAOqYYyBbtXQEtcHG7hwAwyCPQSYidG8yU&token=14219",
                {
                    pane: "pane_StreetMap",
                    opacity: 0.7,
                    attribution: "",
                    minZoom: 1,
                    maxZoom: 28,
                    minNativeZoom: 0,
                    maxNativeZoom: 18,
                }
            ).addTo(map)
            map.addLayer(layer_StreetMap)
            baseMaps['Street Map'] = layer_StreetMap
        }

        // Put the map title
        mapTitle = mapData.name
        createTitlePanel(mapTitle)

        // Put the search panel
        createSearchPanel()

        mapLayers = mapData.layer_set
        mapLayers.forEach((mapLayer) => {
            let layer = mapLayer.layer
            let pane = map.createPane("pane_" + mapLayer.uuid)
            pane.style.zIndex = 450 - mapLayer.priority
            pane.style["mix-blend-mode"] = "normal"

            layers[mapLayer.uuid] = new L.geoJson(layer.feature_set, {
                attribution: '',
                interactive: true,
                layerName: "layer_" + mapLayer.uuid,
                pane: "pane_" + mapLayer.uuid,
                onEachFeature: featurePopup(mapLayer),
                pointToLayer: function (feature, latlng) {
                    var context = {
                        feature: feature,
                        variables: {},
                    }
                    return L.marker(latlng, getLayerStyle(mapLayer.uuid))
                },
            })

            clusters[mapLayer.uuid] = new L.MarkerClusterGroup({
                showCoverageOnHover: false,
                spiderfyDistanceMultiplier: 2,
            })

            clusters[mapLayer.uuid].addLayer(layers[mapLayer.uuid])

            let tooltipOptions = {
                sticky: true,
                className: 'mapaider-feature-tooltip bg-red-400'
            }

            clusters[mapLayer.uuid].bindTooltip(function (feature) {
                return feature.feature.properties.name
            }, tooltipOptions)

            bounds_group.addLayer(layers[mapLayer.uuid])

            map.addLayer(clusters[mapLayer.uuid])
        })

        createLayerPanel(baseMaps, mapLayers, getLayerStyle, false)
        createLinksPanel(mapData.links)
    }

    const loadGeoJSON = () => {
        slug = "{{ slug }}"
        axios.get("/api/mapaider/map/" + slug).then((response) => {
            buildMap(response.data)
        })
    }

    window.addEventListener("load", (event) => {
        loadGeoJSON()
    })
</script>
</body>
</html>
